## Importing Libraries

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Loading Datasets

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\my pc\AppData\Local\Temp\ipykernel_17136\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

### Exploratory Data Analysis of Books.csv File

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [5]:
books.shape

(271360, 8)

In [6]:
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [7]:
# Checking for Duplicate Columns
books.duplicated().sum()

0

In [8]:
# Checking for Missing Values

In [9]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
books = books.dropna()

In [11]:
# Removing the Missing values from the dataset
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

### Exploratory Data Analysis of users.csv file

In [12]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [13]:
users.tail()

        User-ID                            Location   Age
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

In [14]:
users.shape

(278858, 3)

In [15]:
users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [16]:
users.duplicated().sum()

0

In [17]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [18]:
users = users.dropna()

In [19]:
users.isnull().sum()

User-ID     0
Location    0
Age         0
dtype: int64

### Exploratory Data Analysis of Ratings.csv File

In [20]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [21]:
ratings.tail()

         User-ID         ISBN  Book-Rating
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

In [22]:
ratings.shape

(1149780, 3)

In [23]:
ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [24]:
ratings.info

<bound method DataFrame.info of          User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]>

In [25]:
ratings.duplicated().sum()

0

In [26]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

## Popularity Based Recommendation System Model Building

In [27]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [28]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [29]:
# We merge both the Data Sets on the basis of 'ISBN' column
ratings_with_name = ratings.merge(books , on='ISBN')

In [30]:
ratings_with_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [31]:
num_rating_df = ratings_with_name.groupby(['Book-Title']).count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating': 'Num_rating'} , inplace=True)
num_rating_df

                                               Book-Title  Num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241061                                      Ã?Â?lpiraten.           2
241062                     Ã?Â?rger mit Produkt X. Roman.           4
241063                                Ã?Â?sterlich leben.           1
241064                              Ã?Â?stlich der Berge.           3
241065                                  Ã?Â?thique en toc           2

[241066 rows x 2 columns]

In [32]:
avg_rating_df = ratings_with_name.groupby(['Book-Title']).mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating': 'Avg_rating'} , inplace=True)
avg_rating_df

C:\Users\my pc\AppData\Local\Temp\ipykernel_17136\2662987287.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby(['Book-Title']).mean()['Book-Rating'].reset_index()

                                               Book-Title  Avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241061                                      Ã?Â?lpiraten.    0.000000
241062                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241063                                Ã?Â?sterlich leben.    7.000000
241064                              Ã?Â?stlich der Berge.    2.666667
241065                                  Ã?Â?thique en toc    4.000000

[241066 rows x 2 columns]

In [33]:
popular_df = num_rating_df.merge(avg_rating_df , on='Book-Title')
popular_df

,Book-Title,Num_rating,Avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241061,Ã?Â?lpiraten.,2,0.000000
241062,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241063,Ã?Â?sterlich leben.,1,7.000000
241064,Ã?Â?stlich der Berge.,3,2.666667
241065,Ã?Â?thique en toc,2,4.000000

In [34]:
popular_df = popular_df[popular_df['Num_rating']>=250].sort_values('Avg_rating' , ascending = False).head(50)

In [35]:
# This is the Popularity Based Recommendation System
mmmdf = popular_df.merge(books , on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Num_rating','Avg_rating','Image-URL-M']]

In [36]:
mmmdf

,Book-Title,Num_rating,Avg_rating,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,http://images.amazon.com/images/P/0439064872.0...
16,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117,http://images.amazon.com/images/P/0345339681.0...
17,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370,http://images.amazon.com/images/P/0345339703.0...
26,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652,http://images.amazon.com/images/P/059035342X.0...
28,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769,http://images.amazon.com/images/P/0345339711.0...
39,To Kill a Mockingbird,510,4.700000,http://images.amazon.com/images/P/0446310786.0...
47,The Da Vinci Code,898,4.642539,http://images.amazon.com/images/P/0385504209.0...
53,The Five People You Meet in Heaven,430,4.551163,http://images.amazon.com/images/P/0786868716.0...
55,The Catcher in the Rye,449,4.545657,http://images.amazon.com/images/P/0316769487.0...
62,The Lovely Bones: A Novel,1295,4.468726,http://images.amazon.com/images/P/0316666343.0...
63,1984,284,4.454225,http://images.amazon.com/images/P/0451524934.0...
72,Prodigal Summer: A Novel,253,4.450593,http://images.amazon.com/images/P/0060959037.0...
73,Neverwhere,265,4.449057,http://images.amazon.com/images/P/0380789019.0...
78,The Secret Life of Bees,774,4.447028,http://images.amazon.com/images/P/0142001740.0...
84,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890,http://images.amazon.com/images/P/0060392452.0...
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970,http://images.amazon.com/images/P/0385484518.0...
88,The Red Tent (Bestselling Backlist),723,4.334716,http://images.amazon.com/images/P/0312195516.0...
89,The Hitchhiker's Guide to the Galaxy,268,4.328358,http://images.amazon.com/images/P/0671461494.0...
98,Nickel and Dimed: On (Not) Getting By in America,335,4.289552,http://images.amazon.com/images/P/0805063897.0...
100,Into the Wild,252,4.273810,http://images.amazon.com/images/P/0385486804.0...
103,Fahrenheit 451,409,4.264059,http://images.amazon.com/images/P/3257208626.0...
116,Girl with a Pearl Earring,526,4.218631,http://images.amazon.com/images/P/0452282152.0...
117,Outlander,283,4.173145,http://images.amazon.com/images/P/0440222915.0...
123,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983,http://images.amazon.com/images/P/0446672211.0...
124,Seabiscuit: An American Legend,275,4.098182,http://images.amazon.com/images/P/0449005615.0...
126,Life of Pi,664,4.088855,http://images.amazon.com/images/P/0151008116.0...
130,The Bean Trees,389,4.087404,http://images.amazon.com/images/P/0060915544.0...
133,"A Child Called \It\"": One Child's Courage to S...",265,4.086792,http://images.amazon.com/images/P/1558743669.0...
135,ANGELA'S ASHES,279,4.075269,http://images.amazon.com/images/P/0684874350.0...
137,Good in Bed,490,4.055102,http://images.amazon.com/images/P/0743418174.0...
139,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383,http://images.amazon.com/images/P/0060938455.0...
140,American Gods,302,4.006623,http://images.amazon.com/images/P/0380789035.0...
141,Skipping Christmas,322,4.006211,http://images.amazon.com/images/P/0385505833.0...
147,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145,http://images.amazon.com/images/P/0842329129.0...
149,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000,http://images.amazon.com/images/P/037582345X.0...
157,The Color Purple,314,3.964968,http://images.amazon.com/images/P/0671617028.0...
163,Silence of the Lambs,256,3.960938,http://images.amazon.com/images/P/0312924585.0...
166,About a Boy,262,3.900763,http://images.amazon.com/images/P/1573227331.0...
173,Seven Up (A Stephanie Plum Novel),278,3.888489,http://images.amazon.com/images/P/0312265840.0...
175,The Alchemist: A Fable About Following Your Dream,266,3.875940,http://images.amazon.com/images/P/0062502174.0...
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279,http://images.amazon.com/images/P/0312983867.0...
182,Suzanne's Diary for Nicholas,457,3.820569,http://images.amazon.com/images/P/0316969443.0...
186,Lord of the Flies,259,3.818533,http://images.amazon.com/images/P/0399501487.0...
192,A Prayer for Owen Meany,413,3.796610,http://images.amazon.com/images/P/0345361792.0...
194,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409,http://images.amazon.com/images/P/0345313860.0...
195,White Oleander : A Novel (Oprah's Book Club),356,3.772472,http://images.amazon.com/images/P/0316284955.0...

## Collaborative Filtering Based Recommendation System

In [37]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
padhe_likhe_users = x[x].index

In [38]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]

In [39]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [40]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [71]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [72]:
pt.fillna(0,inplace=True)

In [73]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
similarity_score = cosine_similarity(pt)

In [46]:
similarity_score.shape

(810, 810)

In [47]:
similarity_score[0]

array([1.        , 0.        , 0.        , 0.11396319, 0.        ,
       0.        , 0.        , 0.19583184, 0.        , 0.07332359,
       0.12267926, 0.06441716, 0.        , 0.        , 0.11819723,
       0.        , 0.        , 0.04688142, 0.17623004, 0.        ,
       0.05858188, 0.        , 0.        , 0.1195177 , 0.        ,
       0.14508947, 0.24779699, 0.        , 0.        , 0.15184254,
       0.        , 0.        , 0.        , 0.        , 0.18720707,
       0.        , 0.        , 0.07715912, 0.09777914, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03949955,
       0.        , 0.        , 0.        , 0.06289226, 0.15686661,
       0.14289028, 0.        , 0.08959666, 0.        , 0.08561942,
       0.2540534 , 0.03877048, 0.        , 0.0701737 , 0.0759579 ,
       0.        , 0.02742099, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.21374262, 0.        , 0.06576946, 0.        , 0.        ,
       0.08992046, 0.        , 0.05780231, 0.12728072, 0.27423583,
       0.        , 0.        , 0.        , 0.03928105, 0.03004833,
       0.        , 0.        , 0.07471794, 0.07565456, 0.05459586,
       0.        , 0.23437695, 0.        , 0.        , 0.05315758,
       0.13620635, 0.        , 0.09533773, 0.19135735, 0.        ,
       0.04403784, 0.19256555, 0.        , 0.03795578, 0.        ,
       0.        , 0.0828591 , 0.26189553, 0.        , 0.        ,
       0.        , 0.08698101, 0.        , 0.03828436, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0880514 , 0.06948371, 0.        , 0.        , 0.13658447,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.06240614, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.16191597, 0.        ,
       0.        , 0.06976144, 0.14771357, 0.22069571, 0.12963604,
       0.        , 0.        , 0.05439624, 0.        , 0.16581582,
       0.        , 0.06393978, 0.03265214, 0.        , 0.1017847 ,
       0.        , 0.04533119, 0.30110804, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03209011, 0.04983129,
       0.        , 0.08903063, 0.        , 0.        , 0.        ,
       0.21091091, 0.17664736, 0.13575677, 0.06045396, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.05676793, 0.13836089, 0.        , 0.31235364,
       0.        , 0.03613181, 0.1553812 , 0.        , 0.        ,
       0.03440762, 0.        , 0.32712197, 0.        , 0.06399259,
       0.06128659, 0.32791305, 0.        , 0.08029835, 0.09755188,
       0.        , 0.19790443, 0.25223326, 0.04671113, 0.10010907,
       0.        , 0.        , 0.        , 0.09615329, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.20588723, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.1549283 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.27298571, 0.04734646, 0.07571918,
       0.        , 0.05140571, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.16752   , 0.        ,
       0.        , 0.        , 0.08285631, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.04386309, 0.        ,
       0.05013149, 0.        , 0.1273533 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.13289897, 0.05523683,
       0.        , 0.24069967, 0.        , 0.38402049, 0.09196008,
       0.        , 0.08432833, 0.36092382, 0.06531359, 0.1262881 ,
       0.        , 0.08789311, 0.        , 0.        , 0.12358805,
       0.05018805, 0.06321489, 0.        , 0.        , 0.        ,
       0.        , 0.0446086 , 0.1191893 , 0.07571555, 0.        ,
       0.        , 0.        , 0.06858819, 0.        , 0.        ,
       0.        , 0.14128006, 0.12330353, 0.08328598, 0.        ,
       0.        , 0.03293846, 0.09845669, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.21346842,
       0.0382559 , 0.        , 0.        , 0.        , 0.06114554,
       0.        , 0.03690728, 0.        , 0.07001364, 0.        ,
       0.06486028, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.20889853, 0.        , 0.03368533,
       0.        , 0.12136771, 0.14234953, 0.12219314, 0.        ,
       0.        , 0.11145588, 0.        , 0.09472654, 0.15999147,
       0.05398273, 0.        , 0.04744419, 0.        , 0.        ,
       0.        , 0.        , 0.17496212, 0.        , 0.06624913,
       0.        , 0.24422764, 0.        , 0.        , 0.14304775,
       0.        , 0.        , 0.40532776, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.09103319, 0.        , 0.        , 0.        , 0.        ,
       0.06929297, 0.        , 0.10738175, 0.09518041, 0.        ,
       0.        , 0.18109973, 0.10599784, 0.04129349, 0.10518794,
       0.        , 0.16472451, 0.        , 0.0589279 , 0.        ,
       0.        , 0.        , 0.03090152, 0.        , 0.0582696 ,
       0.        , 0.        , 0.        , 0.19663488, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07468883, 0.        , 0.        ,
       0.08918669, 0.        , 0.14138882, 0.04146589, 0.07376769,
       0.        , 0.24598381, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06121743,
       0.        , 0.        , 0.11563053, 0.12331194, 0.        ,
       0.03864934, 0.        , 0.        , 0.13959748, 0.03161194,
       0.11801592, 0.        , 0.06208163, 0.        , 0.02631961,
       0.06125451, 0.        , 0.12324605, 0.        , 0.        ,
       0.        , 0.        , 0.15276016, 0.05853793, 0.05011542,
       0.        , 0.        , 0.05787527, 0.        , 0.16825306,
       0.        , 0.        , 0.        , 0.11383815, 0.25347454,
       0.        , 0.        , 0.        , 0.04539825, 0.16376044,
       0.38267428, 0.        , 0.1276772 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.23284575, 0.        ,
       0.        , 0.33383214, 0.        , 0.        , 0.17949974,
       0.08588951, 0.22969937, 0.        , 0.        , 0.04588185,
       0.        , 0.20348574, 0.        , 0.        , 0.0665759 ,
       0.        , 0.39745657, 0.        , 0.        , 0.        ,
       0.24627472, 0.13804286, 0.03140064, 0.        , 0.        ,
       0.06946249, 0.11140929, 0.        , 0.08032135, 0.        ,
       0.        , 0.44127804, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.12728233, 0.        , 0.06558812,
       0.        , 0.        , 0.05593848, 0.        , 0.        ,
       0.02928304, 0.03686961, 0.        , 0.        , 0.        ,
       0.09033401, 0.        , 0.        , 0.        , 0.        ,
       0.16491669, 0.        , 0.06709735, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.13504462, 0.        ,
       0.        , 0.12841073, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.05697973, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.15082416,
       0.        , 0.        , 0.        , 0.        , 0.32105774,
       0.0322954 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08078028, 0.09512781, 0.41116821, 0.10445378,
       0.04295259, 0.09882612, 0.        , 0.        , 0.07969079,
       0.        , 0.        , 0.03668878, 0.45990181, 0.05686246,
       0.23622976, 0.        , 0.        , 0.        , 0.10971268,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0459208 , 0.        , 0.        , 0.15637719, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.1173369 ,
       0.        , 0.        , 0.07934451, 0.05073339, 0.        ,
       0.        , 0.        , 0.        , 0.06574498, 0.0513371 ,
       0.06273497, 0.        , 0.03509897, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06679479, 0.07505864,
       0.12161509, 0.        , 0.        , 0.05211677, 0.        ,
       0.        , 0.10673216, 0.        , 0.0280251 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.32211138,
       0.        , 0.        , 0.03227321, 0.0714559 , 0.        ,
       0.06137273, 0.        , 0.06175305, 0.        , 0.        ,
       0.16392912, 0.        , 0.        , 0.02495168, 0.        ,
       0.05978179, 0.16647904, 0.        , 0.        , 0.23795582,
       0.        , 0.12977417, 0.        , 0.08361932, 0.        ,
       0.10444927, 0.08297413, 0.09465234, 0.04616441, 0.        ,
       0.        , 0.06243501, 0.19822447, 0.        , 0.03918248,
       0.04337414, 0.01731282, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06204768, 0.08681779, 0.24441196,
       0.15554547, 0.        , 0.        , 0.        , 0.02925382,
       0.03683229, 0.        , 0.23029447, 0.12435707, 0.04440617,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04874332, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.12490855, 0.        , 0.        ,
       0.06509452, 0.        , 0.06851241, 0.07994024, 0.07739153,
       0.        , 0.        , 0.        , 0.        , 0.08910681,
       0.0679454 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04325229, 0.        , 0.        ,
       0.        , 0.09423571, 0.        , 0.11871053, 0.        ,
       0.        , 0.        , 0.04687123, 0.        , 0.        ,
       0.        , 0.        , 0.22132212, 0.24279099, 0.        ,
       0.03549285, 0.        , 0.11464033, 0.        , 0.        ,
       0.06774633, 0.        , 0.0784008 , 0.        , 0.        ,
       0.24186839, 0.        , 0.07246678, 0.        , 0.        ,
       0.10050077, 0.        , 0.        , 0.        , 0.18223242,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.05544468, 0.        , 0.        , 0.        , 0.03937603,
       0.        , 0.        , 0.06524257, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.09352323,
       0.13364132, 0.        , 0.        , 0.04824738, 0.        ,
       0.07298465, 0.1734133 , 0.        , 0.        , 0.        ])

In [74]:
def recommend(book_name):
    index = np.where(pt.index ==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])), key = lambda x:x[1] ,reverse=True)[1:6]
    
    for i in similar_items: 
        print(pt.index[i[0]])

In [75]:
recommend('1984')

The Perfect Storm : A True Story of Men Against the Sea
The Clinic (Alex Delaware Novels (Paperback))
The Mulberry Tree
No Safe Place
The Bourne Identity

In [ ]:
import pickle
pickle.dump(pt,open('pt.pkl','wb'))

pickle.dump(pt,open('ratings_with_name.pkl','wb'))